{% extends 'games/base.html' %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div id="error-message" class="alert alert-danger " role="alert"></div>

            <div class="card bg-dark text-light border-danger-subtle">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Змінити пароль</h2>
                    <form id="changePasswordForm">
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Поточний пароль:</label>
                            <input type="password" id="currentPassword" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Новий пароль:</label>
                            <input type="password" id="newPassword" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Підтвердіть новий пароль:</label>
                            <input type="password" id="confirmNewPassword" class="form-control" required>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" style="background-color: #f94ca4;">Змінити
                                пароль
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}