{% extends 'games/base.html' %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-light border-danger-subtle">
                <div class="card-body">
                    <header >
                        <h1 class="text-center">Про нас</h1>
                    </header>

                    <section>
                        <h2 class="text-center">Ласкаво просимо на наш сайт ігор!</h2>
                        <p>
                            Ми є вашим джерелом для найкращих відеоігор. На нашому сайті ви знайдете великий вибір ігор
                            різних жанрів, які відповідають різним смакам і вподобанням. Ми працюємо, щоб забезпечити
                            вам найновіші релізи, ексклюзивні відомості та ексклюзивні пропозиції.
                        </p>
                        <p>
                            Наш сайт прагне створити захоплюючий геймінг-досвід для всіх типів гравців, від початківців
                            до ветеранів. Ми докладаємо зусиль, щоб надати об'єктивні огляди, поради та новини про світ
                            відеоігор.
                        </p>
                    </section>

                    <section>
                        <h2 class="text-center">Як зв'язатися для покупки відеоігор</h2>
                        <p>
                            Ми завжди відкриті для співпраці та готові надати вам можливість купити найкращі відеоігри.
                            Якщо ви бажаєте зробити покупку або отримати додаткову інформацію, будь ласка, зв'яжіться з
                            нашим відділом продажів за допомогою наступних контактів:
                        </p>

                        <ul>
                            <li>Email: <a href="mailto:sales@example.com">sales@example.com</a></li>
                            <li>Телефон: +1 (123) 456-7890</li>
                        </ul>
                    </section>

                    <section >
                        <h2 class="text-center">Наша місія</h2>
                        <p>
                            Ми прагнемо надати вам доступ до захоплюючого світу відеоігор та зробити ваш геймінг-досвід
                            незабутнім. Наша місія - забезпечити вас найновішими іграми, ексклюзивною інформацією та
                            високоякісним обслуговуванням клієнтів.
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}