{% extends 'games/base.html' %}


{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-light border-danger-subtle">
                <div class="card-body ">
                    <header >
                        <h1 class="text-center">About us</h1>
                    </header>
                    <section>
                        <h2 class="text-center">Welcome to our games site!</h2>
                        <p>
                            We are your source for the best video games. On our website you will find a large selection of games
                            of different genres to suit different tastes and preferences. We work to provide
                            you the latest releases, exclusive information and exclusive offers.
                        </p>
                        <p>
                            Our site aims to create an exciting gaming experience for all types of players, from beginners
                            to veterans We strive to provide unbiased reviews, advice and news about the world
                            video games
                        </p>
                    </section>

                    <section>
                        <h2 class="text-center">How to contact to buy video games</h2>
                        <p>
                            We are always open for cooperation and ready to give you the opportunity to buy the best video games.
                            If you would like to make a purchase or receive additional information, please contact
                            by our sales department using the following contacts.
                        </p>
                    </section>

                    <section >
                        <h2 class="text-center">Our mission</h2>
                        <p>
                            We aim to give you access to the exciting world of video games and make your gaming experience
                            unforgettable Our mission is to provide you with the latest games, exclusive information and
                            high-quality customer service.
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}