{% extends 'games/base.html' %}


{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-light border-danger-subtle">
                <div class="card-body">
                    <header>
                        <h1 class="text-center">Contact Information</h1>
                    </header>
                    <section>
                        <p>We are always happy to answer your questions and receive your feedback. Contact us for
                            help
                            the following contacts:</p>

                        <ul>
                            <li>Phone: +380 (50) 56-40-468</li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="text-center">Feedback form</h2>
                        <p class="text-center">You can also contact us by filling out the feedback form below:</p>
                        <div class="container">
                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} justify-content-between d-flex" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                                <div class="form-error">
                                    {{ form.non_field_errors }}
                                </div>
                                {% for f in form %}
                                <div class="mb-3">
                                    <ladel for="{{ f.id_for_label }}">{{ f.label }}</ladel>
                                    {{ f }}
                                </div>
                                <div class="form-error">{{ f.errors }}</div>
                                {% endfor %}
                                <div class="mb-3 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary" style="background-color: #f94ca4;">
                                        Send
                                    </button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}