{% extends "games/base.html" %}
{% load static %}


{% block title %}
Каталог
{% endblock %}


{% block additional_css %}
<link href="{% static 'css/game_list.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<!--Пошук та відображення кількості ігор-->
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 text-white text-decoration-none px-3 py-1  rounded-4">
            <h2>Games : {{ total_games }}</h2>
        </div>
        <div class="col-md-6  ">
            <form action="{% url 'games:game_list' %}" method="get">
                <div class="input-group ">
                    <input name="search" type="text" value="{{ request.GET.search }}"
                           class="form-control  border border-danger-subtle"
                           placeholder="Search">
                    <button class="btn btn-outline-secondary text-light border border-danger-subtle"
                            style="background-color: #f94ca4;" type="submit">Search
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--Фільтр пошуку ігор та каталог ігор-->
<div class="container mt-3">
    <!--Форма для вибору сортування -->
    <div class="col-md-4 ms-auto ">
        <form action="{% url 'games:game_list' %}" method="get">
            <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
                <!--Кнопки для вибору сортування -->
                <div class="btn-group" role="group" aria-label="Сортування">
                    <a href="{{ sort_by_url }}&sort_by=create_date" class="btn btn-primary me-md-2"
                       style="background-color: #f94ca4;">By Date</a>
                    <a href="{{ sort_by_url }}&sort_by=name" class="btn btn-primary me-md-2"
                       style="background-color: #f94ca4;">By Name</a>
                    <a href="{{ sort_by_url }}&sort_by=price" class="btn btn-primary"
                       style="background-color: #f94ca4;">By Price</a>
                </div>
            </div>
        </form>
    </div>
    <!--Форма для фільтрування даних і їх подальшого вибору -->
    <div class="filter bg-dark text-light border border-danger-subtle">
        <!--Кнопка для розгортання форми при малих екранах -->
        <button id="toggleFilterButton" class="btn btn-dark d-md-none d-grid gap-2 col-6 mx-auto " type="button"
                style="background-color: #f94ca4;"
                data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-solid fa-filter"></i>
        </button>
        <!--Форма -->
        <form class="collapse show gap-2 mx-auto" id="collapseExample" method="get"
              action="{% url 'games:game_list' %}">
            <h4 class="mb-3 d-none d-md-block text-center">Filters</h4>
            <hr>
            <div class="mb-3">
                <!--Кнопка для згортання параметрів  -->
                <label class="form-check-label justify-content-center d-flex" for="platforms">
                    <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filter_platforms" aria-expanded="true" aria-controls="filter_platforms">
                        Platforms
                    </button>
                </label>
                {% for platform in platforms %}
                <!--Параметрів  -->
                <div class="collapse show " id="filter_platforms">
                    <input class="form-check-input" type="checkbox" id="platforms" name="platforms"
                           value="{{ platform.url }}">
                    <span class="span editContent">{{ platform.name }}</span>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="mb-3">
                <!--Кнопка для згортання параметрів  -->
                <label class="form-check-label justify-content-center d-flex" for="genres">
                    <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filter_genres" aria-expanded="true" aria-controls="filter_genres">
                        Genre
                    </button>
                </label>
                {% for genre in genres %}
                <!--Параметрів  -->
                <div class="collapse show " id="filter_genres">
                    <input class="form-check-input" type="checkbox" id="genres" name="genres" value="{{ genre.url }}">
                    <span class="span editContent">{{ genre.name }}</span>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="mb-3">
                <!--Кнопка для згортання параметрів  -->
                <label class="form-check-label justify-content-center d-flex" for="release_date">
                    <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filter_release_date" aria-expanded="true"
                            aria-controls="filter_release_date">
                        Year
                    </button>
                </label>
                {% for game in release_date %}
                <!--Параметрів  -->
                <div class="collapse show " id="filter_release_date">
                    <input class="form-check-input" type="checkbox" id="release_date" name="release_date"
                           value="{{ game.release_date }}">
                    <span class="span editContent">{{ game.release_date }}</span>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="mb-3">
                <!--Кнопка для згортання параметрів  -->
                <label class="form-check-label justify-content-center d-flex" for="country">
                    <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filter_country" aria-expanded="true" aria-controls="filter_country">
                        Country
                    </button>
                </label>
                {% for game in country %}
                <!--Параметрів  -->
                <div class="collapse show " id="filter_country">
                    <input class="form-check-input" type="checkbox" id="country" name="country"
                           value="{{ game.country }}">
                    <span class="span editContent">{{ game.country }}</span>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="justify-content-center d-flex">
                <button class="btn btn-primary"
                        style="background-color: #f94ca4;" type="submit">Search
                </button>
            </div>
        </form>
    </div>


    <div class="post">
        {% for game in games %}
        <div class="card bg-dark text-light border border-danger-subtle">
            <div class="row g-0">
                <div class="col-md-4  d-flex shadow-none ">
                    <img src="{% if game.poster %} {{ game.poster.url }} {% else %} {% static 'img/default-image.jpg' %}{% endif %}"
                         class="img-fluid" alt="Зображення гри">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <a href="{% url 'games:game_detail'  game_slug=game.url %}"
                           style="color: #ffd700; font-weight: bold;"><h5 class="card-title">{{ game.name }}</h5>
                        </a>
                        <p class="card-text">{{ game.description }}</p>
                        <p class="card-text justify-content-between d-flex">
                            <small>Country: {{ game.country }}</small>
                            <small>Year: {{ game.release_date }}</small>
                        </p>
                        <p class="card-text">
                        <div>
                            <i class="fa-solid fa-hashtag"></i> Tags:
                            {% for genre in game.genres.all|dictsort:"name" %}
                            <button type="button" class="btn btn-danger my-1" value="{{ genre.url }}" name="genre"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a class='text-light' href="{% url 'games:genre_list' genre_slug=genre.url %}">
                                    {{ genre.name }}</a>
                            </button>
                            {% endfor %}
                        </div>
                        </p>
                        <div class="card-text justify-content-end d-flex">
                            <h4>{{ game.price }} ₴</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
        <hr>



        <!-- Пагінатор -->
        {% if page_obj.has_other_pages %}
        <div class="row gy-3 ">
            <div class="col-md-12 text-center ">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link text-light" style="background-color: #f94ca4;"
                               href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
                        {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                        <li class="page-item"><a class="page-link text-light" style="background-color: #f94ca4;"
                                                 href="#">{{ p }}</a></li>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-item">
                            <a class="page-link text-light" style="background-color: #f94ca4;" href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-num">
                            <a class="page-link text-light" style="background-color: #f94ca4;"
                               href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% endif %}


        <!-- Додайте інші горизонтальні карточки за аналогією -->
    </div>
</div>
<!--Скрипт для фільтру-->

<script>document.getElementById('sortSelect').addEventListener('change', function () {
      document.getElementById('sortForm').submit();
    });
</script>
<script src="{% static 'js/game_list.js' %}"></script>
{% endblock %}






