{% extends "games/base.html" %}
{% load static %}


{% block title %}
Каталог
{% endblock %}


{% block additional_css %}
<link href="{% static 'css/post_list.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<!--Пошук та відображення кількості ігор-->
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 text-white text-decoration-none px-3 py-1  rounded-4">
            <h2>Кількість ігор: XX</h2>
        </div>
        <div class="col-md-6  ">
            <div class="input-group ">
                <input type="text" class="form-control  border border-danger-subtle"
                       placeholder="Пошук">
                <button class="btn btn-outline-secondary text-light border border-danger-subtle"
                        style="background-color: #f94ca4;" type="button">Пошук
                </button>
            </div>
        </div>
    </div>
</div>

<!--Фільтр пошуку ігор та каталог ігор-->
<div class="container mt-3">

    <div class="col-md-4 ms-auto ">
            <select class="form-select form-select-lg mb-3 bg-dark text-light border border-danger-subtle "
                    aria-label="Large select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>


    <div class="filter bg-dark text-light border border-danger-subtle">
        <!-- Сюди додайте фільтри і будь-які інші елементи, які вам потрібні в боці сайтбару -->
        <button id="toggleFilterButton" class="btn btn-dark d-md-none d-grid gap-2 col-6 mx-auto " type="button"
                style="background-color: #f94ca4;"
                data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-solid fa-filter"> Фільтр</i>
        </button>
        <form class="collapse show  gap-2  mx-auto" id="collapseExample">
            <h4 class="mb-3 d-none d-md-block text-center">Фільтри</h4>
            <hr>
            <div class="mb-3">
                <label class="form-label " data-bs-toggle="collapse" href="#filter_platform" role="button"
                       aria-expanded="false" aria-controls="filterCollapse">
                    <button type="button" class="btn btn-dark">Фільтр за платформою:</button>
                </label>
                <div class="form-check " id="filter_platform">
                    <input class="form-check-input " type="checkbox" id="platformPC" value="PC">
                    <label class="form-check-label " for="platformPC">PC</label>
                </div>
            </div>
            <hr>
            <div>
                <label class="form-label" data-bs-toggle="collapse" href="#filter_year" role="button"
                       aria-expanded="false" aria-controls="filterCollapse">
                    <button type="button" class="btn btn-dark">Фільтр за роком:</button>
                </label>
                <div class="form-check" id="filter_year">
                    <input class="form-check-input" type="checkbox" id="year2022" value="2022">
                    <label class="form-check-label" for="year2022">2022</label>
                </div>
                <!-- Додайте інші роки за потребою -->
            </div>
            <hr>
            <div class="mb-3">
                <label class="form-label" data-bs-toggle="collapse" href="#filter_country" role="button"
                       aria-expanded="false" aria-controls="filterCollapse">
                    <button type="button" class="btn btn-dark">Фільтр за країною:</button>
                </label>
                <div class="form-check" id="filter_country">
                    <input class="form-check-input" type="checkbox" id="country" value="USA">
                    <label class="form-check-label" for="country">USA</label>
                </div>
            </div>
            <hr>
            <div class="mb-3">
                <label class="form-label" data-bs-toggle="collapse" href="#filter_genre" role="button"
                       aria-expanded="false" aria-controls="filterCollapse">
                    <button type="button" class="btn btn-dark">Фільтр за жанрами:</button>
                </label>
                <div class="form-check" id="filter_genre">
                    <input class="form-check-input" type="checkbox" id="Genre" value="Arcade">
                    <label class="form-check-label" for="Genre">Жанри</label>
                </div>

            </div>
            <hr>
            <div class="mb-3">
                <label class="form-label" data-bs-toggle="collapse" href="#filter_local" role="button"
                       aria-expanded="false" aria-controls="filterCollapse">
                    <button type="button" class="btn btn-dark">Фільтр за локалізацією:</button>
                </label>
                <div class="form-check" id="filter_local">
                    <input class="form-check-input" type="checkbox" id="Local" value="Ukraine">
                    <label class="form-check-label" for="Local">Локалізація</label>
                </div>

            </div>
            <hr>

            <div class="mb-3">
                <label class="form-label" data-bs-toggle="collapse" href="#filter6" role="button"
                       aria-expanded="false" aria-controls="filterCollapse">
                    <button type="button" class="btn btn-dark">Фільтр за місцем покупки:</button>
                </label>
                <div class="form-check" id="filter6">
                    <input class="form-check-input" type="checkbox" id="Buy" value="Steam">
                    <label class="form-check-label" for="Buy">Придбати</label>
                </div>
            </div>
        </form>
    </div>


    <div class="post">
        <div class="card bg-dark text-light border border-danger-subtle">
            <div class="row g-0">
                <div class="col-md-4  d-flex shadow-none ">
                    <img src="{% static 'img/background.jpg'%}" class="img-fluid" alt="Зображення гри">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <a href="{% url 'games:post_detail' %}" style="color: #ffd700; font-weight: bold;"><h5 class="card-title">{{vac.title}}Lorem
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum</h5>
                        </a>
                        <p class="card-text">{{vac.description}} Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <p class="card-text justify-content-between d-flex">
                            <small>Країна: Україна</small>
                            <small class="">Рік випуску: 2023</small>
                        </p>
                        <p class="card-text">
                            <small>Теги:</small>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a class=' text-dark' href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a class=' text-dark' href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a class=' text-dark' href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="card bg-dark text-light border border-danger-subtle">
            <div class="row g-0">
                <div class="col-md-4  d-flex shadow-none ">
                    <img src="{% static 'img/background.jpg'%}" class="img-fluid" alt="Зображення гри">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <a href="" style="color: #ffd700; font-weight: bold;"><h5 class="card-title">{{vac.title}}Lorem
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum</h5>
                        </a>
                        <p class="card-text">{{vac.description}} Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <p class="card-text justify-content-between d-flex">
                            <small>Країна: Україна</small>
                            <small class="">Рік випуску: 2023</small>
                        </p>
                        <p class="card-text">
                            <small>Теги:</small>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a class='none ' href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="card bg-dark text-light border border-danger-subtle">
            <div class="row g-0">
                <div class="col-md-4  d-flex shadow-none ">
                    <img src="{% static 'img/background.jpg'%}" class="img-fluid" alt="Зображення гри">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <a href="" style="color: #ffd700; font-weight: bold;"><h5 class="card-title">{{vac.title}}Lorem
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum</h5>
                        </a>
                        <p class="card-text">{{vac.description}} Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <p class="card-text justify-content-between d-flex">
                            <small>Країна: Україна</small>
                            <small class="">Рік випуску: 2023</small>
                        </p>
                        <p class="card-text">
                            <small>Теги:</small>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a class='none ' href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="card bg-dark text-light border border-danger-subtle">
            <div class="row g-0">
                <div class="col-md-4  d-flex shadow-none ">
                    <img src="{% static 'img/background.jpg'%}" class="img-fluid" alt="Зображення гри">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <a href="" style="color: #ffd700; font-weight: bold;"><h5 class="card-title">{{vac.title}}Lorem
                            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum</h5>
                        </a>
                        <p class="card-text">{{vac.description}} Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <p class="card-text justify-content-between d-flex">
                            <small>Країна: Україна</small>
                            <small class="">Рік випуску: 2023</small>
                        </p>
                        <p class="card-text">
                            <small>Теги:</small>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a class='none ' href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                            <button type="button" class="btn btn-light"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <a href="#"><i class="fa-solid fa-hashtag"></i> Тег1</a>
                            </button>
                        </p>
                    </div>
                </div>

            </div>
        </div>



        <hr>
        <!-- Пагінатор -->

        <div class="row gy-3 ">
            <div class="col-md-12 text-center ">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link text-light" style="background-color: #f94ca4;"
                                                 href="#">Попередня</a>
                        </li>
                        <li class="page-item"><a class="page-link text-light" style="background-color: #f94ca4;" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link text-light" style="background-color: #f94ca4;" href="#">2</a>
                        </li>
                        <!-- Додайте інші сторінки тут -->
                        <li class="page-item"><a class="page-link text-light" style="background-color: #f94ca4;"
                                                 href="#">Наступна</a></li>
                    </ul>

                </nav>
            </div>
        </div>

        <!-- Додайте інші горизонтальні карточки за аналогією -->
    </div>
</div>
<!--Скрипт для фільтру-->
<script src="{% static 'js/post_list.js' %}"></script>
{% endblock %}






