{% extends "games/base.html" %}
{% load static %}


{% block title %}
Профіль
{% endblock %}


{% block content %}
<div class="container py-5">
    <div class="row">
        <!-- Ліва колонка -->
        <div class="col-md-4 py-3">
            <div class="card">
                <div class="card-body text-center bg-dark text-light border-danger-subtle">
                    <h2 class="card-title text-center mb-4">Profile</h2>
                    <div class="mb-3 mt-3">
                        <img src="{% if user.profile_picture %} {{ user.profile_picture.url }} {% else %} {% static 'img/default-profile.jpg' %}{% endif %}"
                             alt="Profile photo"
                             class="img-fluid rounded-circle mb-3" style="width:200px; height:200px;">
                    </div>
                    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                        <div class="form-error">
                            {{ form.non_field_errors }}
                        </div>
                        {% csrf_token %}
                        {% for f in form %}
                        {% if f.name != 'password' %}
                        <div class="mb-3">
                            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                            {{ f }}
                        </div>
                        <div class="form-error">{{ f.errors }}</div>
                        {% endif %}
                        {% endfor %}
                        <div class="mb-3">
                            <input class="btn btn-primary" type="submit" value="Save"
                                   style="background-color: #f94ca4;">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Центральна колонка -->
        <div class="col-md-4 py-3">
            <div class="card">
                <div class="card-body bg-dark text-light border-danger-subtle">
                    <h2 class="card-title text-center mb-4">Purchase history</h2>
                    <div class="mb-3">
                        <h3 class="mb-3">List of games</h3>
                        <ul>
                            <li><strong>Гра A</strong> - <small>Ціна</small></li>
                            <li><strong>Гра A</strong> - <small>Ціна</small></li>
                            <li><strong>Гра A</strong> - <small>Ціна</small></li>
                            <li><strong>Гра A</strong> - <small>Ціна</small></li>
                            <li><strong>Гра A</strong> - <small>Ціна</small></li>
                            <li><strong>Гра A</strong> - <small>Ціна</small></li>
                            <li><strong>Гра A</strong> - <small>Ціна</small></li>
                            <li><strong>Гра A</strong> - <small>Ціна</small></li>
                            <!-- Додайте інші елементи списку за потреби -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Права колонка -->
        <div class="col-md-4 py-3">
            <div class="card">
                <div class="card-body text-center bg-dark text-light border-danger-subtle">
                    <h2 class="card-title text-center mb-4">User</h2>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" class="form-control" readonly value="{{ user.username }}">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" class="form-control" readonly value="{{ user.password }">
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'users:password_change' %}">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal"
                                    style="background-color: #f94ca4;">Change password
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}


