{% extends "users/auth.html" %}
{% load static %}


{% block title %}
Реєстрація
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center bg-dark text-light border-danger-subtle">
                <div class="card-body">
                    <h3 class="text-center">Registration</h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="form-error">
                            {{ form.non_field_errors }}
                        </div>
                        {% for f in form %}
                        <div class="mb-3">
                            <ladel for="{{ f.id_for_label }}">{{ f.label }}</ladel>
                            {{ f }}
                        </div>
                        <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" style="background-color: #f94ca4;">
                                Sign up
                            </button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
