{% extends "profile/auth.html" %}
{% load static %}


{% block title %}
Реєстрація
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div id="error-message" class="alert alert-danger " role="alert"></div>

            <div class="card bg-dark text-light border-danger-subtle">
                <div class="card-body">

                    <h3 class="text-center">Реєстрація</h3>

                    <form >
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Електронна пошта</label>
                            <input type="email" class="form-control" id="loginEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="loginPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="loginPassword" required>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" style="background-color: #f94ca4;">Зареєструватися</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
